body {
    background-color: #f8f8ff;
    color: #000000;
}

h1 {
    color: #5fba7d;
    font-family: Arial, Helvetica, Sans-Serif;
    text-align: center;
}

table {
    border-bottom: 1px solid #eee;
    border-collapse: collapse;
    border-top: 1px solid #eee;
    width: 100%;
}

th {
    font-size: 210%;
    color: #5fba7d;
}

th, td {
    font-family: Arial, Helvetica, Sans-Serif;
    margin: 0px;
    width: 50%;
}

td {
    font-size: 100%;
    text-align: center;
}

tr {
    border-bottom: 1px solid #eee;
}

#SLAtimes {
    white-space: pre;
    display: none;
}
